# Data Types, Numbers, Operations, Type Conversion, f-Strings

## Data Types

In [2]:
#Strings

print("Hello"[3]) #Subscripting: pulling a character from the string

l

In [3]:
print("123"+"890") #similar to concatenation

123890

In [4]:
print(int("123")+int("890"))

1013

In [6]:
# 789_123_567 is similar to 789,123,567. For readability.

In [5]:
# Boolean values are True and False where T and F are capitals.

## Addressing type errors

In [7]:
length = len(input("What is your name? "))
print("Your name has " + length + "letters.")

What is your name? Amrutha

TypeError: can only concatenate str (not "int") to str

In [8]:
#To address this error, we change the type of the string

type(length)

int

In [9]:
#change this to string, since only strings can be concatenated

print("Your name has "+str(length)+" letters.")

Your name has 7 letters.

In [10]:
a = 123

print(type(a))

<class 'int'>

In [12]:
b = int(a)
c = float(a)
d = bool(a)

print(f"b is {b} and type is {type(b)}")
print(f"c is {c} and type is {type(c)}")
print(f"d is {d} and type is {type(d)}")

b is 123 and type is <class 'int'>
c is 123.0 and type is <class 'float'>
d is True and type is <class 'bool'>

## Mathematical Operations

In [13]:
# +, -, *, /
# Division always results in a float number
# ** = power (base ** power)

# Rule: PEMDAS - Parentheses, Exponent, Multiplication or Division (based on order from L to R), Addition or Subtraction
    ## ()
    ## **
    ## * /
    ## + -

In [14]:
print(3 * 3 + 3 / 3 - 3)

7.0

In [16]:
# Challenge is to make changes to the above expression based on PEMDAS rule to get an output of 3

print(3 * (3 + 3)/ 3 - 3)

3.0

## BMI Calculator

In [17]:
# 1st input: enter height in meters e.g: 1.65
height = input()
# 2nd input: enter weight in kilograms e.g: 72
weight = input()

BMI = float(weight) / float(height) ** 2

print(int(BMI))

1.58
57
22

In [18]:
# Round function

print(round(22/7))

3

In [19]:
print(round(22/7,2))

3.14

In [20]:
# Floor division - a division that results in an integer

print(22//7)

3

In [21]:
print(22/7)

3.142857142857143

In [22]:
print(type(22//7))

<class 'int'>

## f-strings

In [23]:
score = 0
height = 1.8
isWinning = True

print(f"your score is {score}, your height is {height} and you are winning is {isWinning}")

your score is 0, your height is 1.8 and you are winning is True

# Project - Tip Calculator

In [25]:
print("Welcome to the tip calculator.")

Welcome to the tip calculator.

In [27]:
total_bill = float(input("What was the total bill? $"))
tip_percent = int(input("What percentage tip would you like to give? 10, 12, or 15? "))
num_people = int(input("How many people to split the bill? "))

tip = total_bill*tip_percent

bill_with_tip = total_bill + tip/100

split = bill_with_tip / num_people

print(f"Each person should pay: ${round(split,2)}")

What was the total bill? $124.56
What percentage tip would you like to give? 10, 12, or 15? 12
How many people to split the bill? 7
Each person should pay: $19.93